# .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.log
appsettings.Development.json

# Angular
node_modules/
dist/
.angular/
*.js.map

# IDEs
.vscode/
.vs/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment
.env
*.env.local
