@use "@angular/material" as mat;

@include mat.core();

// Use the simplified theme definition
$light-theme: mat.define-theme();

// Wrap theme application in html selector for M3 compatibility
html {
  @include mat.all-component-themes($light-theme);
}

/* Global styles */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
